.add-film-page
	margin-top: 20px
	text-align: center

.login-to-add-msg

.add-film-find-film
	font-size: 1.6em
	text-align: center
	margin-bottom: 28px

.add-film-radios-wrapper
	font-size: 1.3em
	margin-bottom: 14px

.my-hr
	margin: 0 auto
	width: 300px
	border-bottom: 1px solid #444

.add-film-radio-wrapper
	display: inline-block
	margin: 0 6px

.add-film-title-inputs-wrapper
	margin: 18px auto

.add-film-label

.add-film-title
	text-align: right
	font-size: 1.3em
	display: inline-block
	width: 10em
	margin-right: 22px

.add-film-input
	display: inline-block
	
.add-film-or
	margin: 8px 20px
	font-size: 0.9em


.filmweb-search-results
	margin: 16px auto
	white-space: normal

.add-film-spinner
	height: 112px
	.spinner
		margin: 16px auto

.filmweb-search-entry
	padding: 6px
	box-sizing: border-box
	cursor: pointer
	display: inline-block
	width: 33%
	vertical-align: top
	word-wrap: break-word
	&:hover
		background-color: #383838

.filmweb-search-entry-active
	background-color: #5b5b5b
	box-shadow: inset 0 0 10px black
	&:hover
		background-color: #5b5b5b

.filmweb-search-cover
	width: 150px
	margin-right: 4px
	float: left

.filmweb-search-title
	padding: 4px

.filmweb-search-year
	padding: 4px

.filmweb-search-description
	padding: 4px
	font-size: 0.8em

.add-film-next-buttons
	margin-top: 12px

.btn-disabled
	color: #aaa
	cursor: disabled
	&:hover
		box-shadow: none

$step-transition-length: 0.5s
.steps-wrapper
	//border: 2px solid blue
	white-space: nowrap
	text-align: center
	transition: height cubic-bezier(.12,.35,0,1) $step-transition-length
	transition: height cubic-bezier(.34,1.08,0,1) $step-transition-length

.step1, .step2, .step3
	width: 100%
	&.ng-hide-add
		transition: all $step-transition-length
		display: inline-block
	&.ng-hide-remove
		transition: all $step-transition-length
		display: inline-block
		position: absolute
	&.ng-hide
		opacity: 0
	display: inline-block


.step1
	//border: 2px solid red

.step2
	//border: 2px solid green
	//vertical-align: top

.step3
	//border: 1px solid yellow


@media (max-width: $large)
	.filmweb-search-entry
		width: 50%

@media (max-width: $small)
	.filmweb-search-entry
		width: 100%
		margin: auto
	.add-film-title
		text-align: center
		display: block
		margin: 12px auto
