.add-film-page
	margin-top: 20px
	text-align: center

.login-to-add-msg

.add-film-find-film
	font-size: 1.6em
	text-align: center
	margin-bottom: 28px

.radios-wrapper
	font-size: 1.3em
	margin-bottom: 14px

.my-hr
	margin: 0 auto
	width: 300px
	border-bottom: 1px solid #444

.add-film-radio-wrapper
	text-align: left
	display: inline-block
	margin-right: 6px
	margin-left: 6px

.add-film-title-inputs-wrapper
	margin: 18px auto

.add-film-label

.add-film-title
	text-align: right
	font-size: 1.3em
	display: inline-block
	width: 10em
	margin-right: 22px

.add-film-input
	display: inline-block
	
.add-film-or
	margin: 8px 20px
	font-size: 0.9em


.filmweb-search-results
	margin: 16px auto

.add-film-spinner
	height: 112px
	.spinner
		margin: 16px auto

.filmweb-search-entry
	display: inline-block
	width: 33%

.filmweb-search-cover
	width: 150px
	float: left

.add-film-next-buttons
	margin-top: 12px

.btn-disabled
	color: #aaa
	cursor: disabled
	&:hover
		box-shadow: none
