//$font: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif
$font: "Montserrat", sans-serif
$primary-color: #f5cd2e
$pale-primary: #dc4
$section-background: rgba(0,0,0,0.3)
$font-color: #f5edce

$images: "../images"

$large: 1150px
$medium: 970px
$small: 760px


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
	display: none !important

a
	color: inherit
	text-decoration: none
	&:hover
		color: $primary-color

.owl-item a:hover
	// color: $primary-color

.link
	cursor: pointer
	&:hover
		color: $primary-color

/* Rules for sizing the icon. */
.material-icons.md-18
	font-size: 18px
.material-icons.md-24
	font-size: 24px
.material-icons.md-36
	font-size: 36px
.material-icons.md-48
	font-size: 48px

/* Rules for using icons as black on a light background. */
.material-icons.md-dark
	color: rgba(0, 0, 0, 0.54)
.material-icons.md-dark.md-inactive
	color: rgba(0, 0, 0, 0.26)

/* Rules for using icons as white on a dark background. */
.material-icons.md-light
	color: rgba(255, 255, 255, 1)
.material-icons.md-light.md-inactive
	color: rgba(255, 255, 255, 0.3)

/***********
 * SPINNER *
 **********/
.spinner
	margin: 60px auto
	position: relative
	text-indent: -9999em
	border-top: 1.1em solid rgba(255, 255, 255, 0.2)
	border-right: 1.1em solid rgba(255, 255, 255, 0.2)
	border-bottom: 1.1em solid rgba(255, 255, 255, 0.2)
	border-left: 1.1em solid #ffffff
	transform: translateZ(0)
	animation: spin 1.1s infinite linear

.spinner,
.spinner:after
	border-radius: 50%
	width: 10em
	height: 10em

.spinner.ng-hide
	display: none

@keyframes spin
	0%
		-webkit-transform: rotate(0deg)
		transform: rotate(0deg)
	100%
		-webkit-transform: rotate(360deg)
		transform: rotate(360deg)

.spinner-medium
	@extend .spinner
	font-size: 0.7em

.spinner-small
	@extend .spinner
	font-size: 0.4em

.spinner-wrapper-wrapper
	position: relative

.spinner-wrapper
	transform: translateX(-50%)
	position: absolute
	left: 50%
	transform-origin: 0 50%

.spinner-wrapper.ng-hide
	transition: opacity 0.3s, transform 0.3s
	opacity: 0
	transform: scale(1.3) translateX(-50%)

.spinner-wrapper-alt
	transform: translateX(-50%)
	position: absolute
	left: 50%
	transform-origin: 0 50%
	z-index: 3

.spinner-sibling
	height: 200px
	
.spinner-wrapper-alt.ng-hide
	transition: opacity 0.3s, transform 0.3s
	opacity: 0
	transform: scale(1.3) translateX(-50%)



input[type="text"], input[type="password"], input[type="email"]
	font-family: $font
	padding: 0 14px
	border-radius: 2px
	border: none
	height: 30px

textarea
	font-family: $font
	padding: 10px 14px
	border-radius: 2px
	border: none
	// height: 3.5em

input[type="submit"]
	font-family: $font
	border: none
	border-bottom: 2px solid #111
	outline: none
	cursor: pointer
	padding: 8px
	border-radius: 2px
	background: $pale-primary
	&:hover
		box-shadow: inset 0 0 6px
	&:active
		border-color: transparent
		background-clip: padding-box
		transform: translateY(2px)
	&:disabled
		cursor: not-allowed
		&:hover
			box-shadow: none

select
	padding: 2px
	border-radius: 2px
	background: white

[tooltip]
	&:before
		content: attr(tooltip)
		position: absolute
		opacity: 0
		background: #676342
		transition: opacity 0.15s
		border-radius: 2px
		padding: 4px
		font-size: 0.8em
		pointer-events: none
	&:hover
		&:before
			opacity: 1


// =========== CHECKBOX =========== //
.checkbox-wrapper
	position: relative
	& > label
		cursor: pointer
		-webkit-touch-callout: none
		-webkit-user-select: none
		-khtml-user-select: none
		-moz-user-select: none
		-ms-user-select: none
		user-select: none
		font-size: 0.8em
		&:hover
			// text-decoration: underline
			& > span:first-of-type
				background: #222
				border-color: $primary-color

input[type="checkbox"].checkbox
	visibility: hidden
	&:checked + span
		border-color: $primary-color
		&:before
			opacity: 1
	& + span
		border: 2px solid rgba(245, 205, 46, 0.4)
		background: #000
		width: 10px
		height: 10px
		display: inline-block
		position: absolute
		left: 5px
		top: 4px
		&:before
			content: ""
			width: 10px
			height: 5px
			position: absolute
			border: 3px solid $primary-color
			border-top: none
			border-right: none
			transform: rotate(-45deg)
			opacity: 0
// ================================ //

// =========== RADIO =========== //
.radio-wrapper
	position: relative
	& > label
		cursor: pointer
		-webkit-touch-callout: none
		-webkit-user-select: none
		-khtml-user-select: none
		-moz-user-select: none
		-ms-user-select: none
		user-select: none
		font-size: 0.8em
		&:hover
			// text-decoration: underline
			& > span:first-of-type
				background: #222
				border-color: $primary-color

input[type="radio"].radio
	visibility: hidden
	&:checked + span
		border-color: $primary-color
		&:before
			opacity: 1
	& + span
		border: 2px solid rgba(245, 205, 46, 0.4)
		border-radius: 50%
		background: #000
		width: 10px
		height: 10px
		display: inline-block
		position: absolute
		left: 5px
		top: 4px
		&:before
			content: ""
			width: 6px
			height: 6px
			background: $primary-color
			position: absolute
			left: 2px
			top: 2px
			// border: 3px solid $primary-color
			border-radius: 50%
			opacity: 0
// ============================= //

.error-box
	padding: 12px
	background: #eaa
	border: 1px solid #e33
	border-radius: 2px
	color: #111
	margin: 12px


.btn
	border: none
	border-bottom: 2px solid #111
	outline: none
	cursor: pointer
	padding: 8px
	border-radius: 2px
	background-color: #c23
	display: inline-block
	font-size: 0.9em
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	&:hover
		box-shadow: inset 0 0 6px black
	&:active
		border-color: transparent
		background-clip: padding-box
		transform: translateY(2px)
	&:disabled
		cursor: not-allowed
		&:hover
			box-shadow: none

.btn-2
	@extend .btn
	background-color: $pale-primary
	color: black
	

.clear
	clear: both


$page-content-width: 1100px
$page-content-width-medium: 940px

.page-content-thingy
	margin-left: auto
	margin-right: auto
	width: $page-content-width

@media (max-width: $large)
	.page-content-thingy
		width: $page-content-width-medium

@media (max-width: $medium)
	.page-content-thingy
		width: 100%
