#films-wrapper
	margin-top: 30px
	background: $section-background
	padding: 16px
	border: 1px solid #ddd

#filters-wrapper
	float: left
	width: 30%

.filter-wrapper
	margin: 10px
	
.filter-input-label
	font-size: 1.1em
	font-weight: bold
	display: inline-block
	margin: 5px auto

.filter-input
	display: block
	margin: 6px 0

select.filter-input
	display: inline-block

.cross-sign
	position: absolute
	width: 20px
	height: 20px
	transform: translate(8px, 7px)
	border: 1px solid white
	&:hover
		cursor: pointer
		&:before, &:after
			border-color: $primary-color
	&:before, &:after
		content: ""
		width: 16px
		border: 1px solid white
		position: absolute
	&:before
		transform: translate(1px, 9px) rotate(45deg)
	&:after
		transform: translate(1px, 9px) rotate(-45deg)



.results-wrapper
	width: 70%
	float: right
	padding-top: 12px

.pagination-wrapper
	text-align: center
	margin: 10px 0
	& > div
		display: inline-block
		margin: 2px
		border: 2px solid white
		padding: 6px
		cursor: pointer
		min-width: 16px
		-webkit-user-select: none
		-khtml-user-select: none
		-moz-user-select: none
		-ms-user-select: none
		user-select: none
		&:hover
			color: $primary-color

.pagination-num

.active-page
	color: $primary-color

.filter-result
	margin-bottom: 30px

.filter-result-cover
	width: 200px
	float: left
	margin-right: 10px

.filter-result-details

.filter-result-title
	font-size: 2em

.filter-result-year, .filter-result-categories, .filter-result-versions
	margin: 4px auto

.filter-result-description
	margin-top: 10px

.filter-result-label
	color: #777
