@import "common"
@import "home"
@import "film"
@import "films"
@import "adminPanel"
@import "userDetails"
@import "shows"
@import "addFilm"
@import "oneSeries"
@import "myAccount"


$footer-height: 80px
$footer-height-medium: 94px
$footer-height-small: 120px
$footer-height-xsmall: 148px
body
	// background: linear-gradient(0deg, #1a1d21, #383a3f)
	background: #222 url($images + "/blacktiles.png") repeat
	color: #f5edce
	font-family: $font
	padding-bottom: $footer-height

@media (max-width: $medium)
	body
		padding-bottom: $footer-height-medium

@media (max-width: $small)
	body
		padding-bottom: $footer-height-small

@media (max-width: 540px)
	body
		padding-bottom: $footer-height-xsmall

html
	position: relative
	min-height: 101%

@media (max-width: $small)
	html
		min-height: 100%

#body
	overflow: hidden
	min-height: 340px
	background: linear-gradient(to bottom, rgba(0,0,0,1) 60px, rgba(0,0,0,0) 340px)
	margin-bottom: 20px


/**********
 * NAVBAR *
 **********/

$navbar-height: 64px

#navbar
	//height: $navbar-height
	background: linear-gradient(#444,#303030)
	border-bottom: 1px solid #555

#title-img-wrapper
	float: left
	margin-right: 14px
	display: table
	height: $navbar-height
	margin-left: 12px
	& a
		display: table-cell
		vertical-align: middle

#title-img 
	height: 42px
	padding-top: 2px

.nav-link
	float: left
	line-height: $navbar-height - 20px
	margin: 10px 3px
	padding: 0 12px
	font-size: 0.9em
	background: linear-gradient(#4a4a4a, #303030)
	box-shadow: inset 0 0 6px black
	opacity: 0.8
	border-radius: 2px
	&:hover
		opacity: 1

.nav-link-active
	opacity: 1
	color: $primary-color

.navbar-nav-link

#login-wrapper
	float: right
	margin-top: 10px
	text-align: right
	margin-right: 12px

#register
	font-size: 1.2em
	color: $primary-color
	line-height: 1.4em
	font-weight: bold
	opacity: 0.8

#login
	font-size: 0.8em
	padding: 4px
	opacity: 0.8

#register, #login
	cursor: pointer
	display: inline-block
	&:hover
		opacity: 1


.notification
	position: fixed
	bottom: 20px
	right: 20px
	font-size: 0.9em
	width: 280px
	background-color: #692
	border-radius: 3px
	padding: 5px 7px
	box-shadow: 0 0 15px 2px black
	display: table
	transform: translateY(0px)
	z-index: 3
	opacity: 1
	transition: transform 0.2s, opacity 0.2s
	&.ng-hide
		transform: translateY(-16px)
		opacity: 0

.red-notification
	background-color: #c43

.notification-icon
	font-size: 1em
	display: table-cell
	vertical-align: middle
	padding-right: 5px

.notification-text
	display: table-cell
		
.notification-undo
	text-decoration: underline
	padding-right: 3px
	cursor: pointer
	display: table-cell
	vertical-align: middle

.notification-close
	cursor: pointer
	font-size: 1.5em
	display: table-cell
	vertical-align: top
	padding-bottom: 4px
	&:hover
		color: $primary-color

@media (max-width: $small)
	.notification-close
		font-size: 2em

.account-box
	float: right
	cursor: pointer
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	margin-right: 12px

.hello-user
	display: inline-block

.avatar
	display: inline-block
	vertical-align: middle
	width: 32px

.account-dropdown
	background-color: #313131
	border-bottom-left-radius: 4px
	position: absolute
	top: $navbar-height
	right: 0
	padding: 0 4px
	z-index: 3
	border-bottom: 1px solid #555
	border-left: 1px solid #555
	li
		padding: 12px
	transition: max-height 0.2s
	max-height: 0
	overflow: hidden

.account-dropdown-list
	padding: 8px

.account-dropdown-down
	max-height: 200px

.account-dropdown-icon
	font-size: 24px
	vertical-align: middle
	margin-right: 8px
	transform: translateY(-3px)
	&:hover
		color: inherit


.hamburger-wrapper
	display: none
	padding: 0 14px
	float: right
	font-size: 2.6em
	height: $navbar-height
	cursor: pointer
	& > .fa
		display: table-cell
		vertical-align: middle

@media (max-width: $medium)
	.account-box
		display: none
	.hamburger-wrapper
		display: table
	.nav-links
		border-bottom: 1px solid #444
	.navbar-nav-link
		float: none
		width: 70%
		display: block
		margin-left: auto
		margin-right: auto
		padding: 6px 20px
		font-size: 1em
		text-align: center
		letter-spacing: 1px
	.navbar-dropdown
		border-top: 1px solid #555
		overflow: hidden
		max-height: 0
		transition: max-height 0.2s
		background-color: #222
		background-image: linear-gradient(to bottom, #333, #181818)
		width: 100%
		margin: 0 auto
	.navbar-dropdown-down
		max-height: 360px
		display: block
	.account-dropdown
		position: static
		max-height: none
		background-color: transparent
		border: none
		text-align: center
		font-size: 1.2em
		li
			border-bottom: 1px solid #111
			&:hover
				background-color: #2d2d2d
	.account-dropdown-list
		padding: 0
	#login-wrapper
		float: none
		text-align: center
		font-size: 140%
		margin-bottom: 10px
	#register
		border-bottom: 1px solid #666
		padding-bottom: 6px
	#login
		padding-top: 10px


@media (max-width: $small)
	#navbar
		position: fixed
		width: 100%
		z-index: 8
		box-shadow: 0 0 14px 4px black
	#search-wrapper
		position: relative
		top: $navbar-height
		margin-bottom: $navbar-height
	

.the-box-wrapper
	width: 100%
	height: 100%
	position: fixed
	top: 0
	left: 0
	background: rgba(0,0,0,0.6)
	z-index: 10
	opacity: 1
	transition: opacity 0.2s
	&.ng-hide
		opacity: 0
		.the-box-outer
			transform: translateY(-25px)

.the-box-outer
	transition: transform 0.2s
	transform: translateY(0)
	position: absolute
	left: 50%
	top: 50%

.the-box
	position: absolute
	top: 50%	
	left: 50%
	transform: translate(-50%, -50%)
	background: #282828
	width: 300px
	text-align: center
	box-shadow: 0 0 10px 2px black
	border: 2px ridge #666
	padding-bottom: 16px

.the-box-message
	width: 80%
	padding: 6px
	display: inline-block
	margin: 4px 0
	border-width: 1px
	border-style: solid
	border-radius: 4px

.the-box-message-green
	color: #484
	background-color: #cec
	border-color: #5d2

.the-box-message-yellow
	background-color: #eea
	border-color: #fd3
	color: #970


.login-form
	label
		display: block
		margin: 16px

.login-text-input
	width: 200px

.login-error
	// border: 1px solid red
	background: #c55
	// color: black
	margin: 16px
	padding: 8px
	border-radius: 2px

.login-tabs
	margin-bottom: 2px
	display: inline-block

.login-tab
	display: inline-block
	line-height: 44px
	padding: 0 12px
	margin: 6px 3px
	font-size: 0.9em
	background: linear-gradient(#4a4a4a, #303030)
	box-shadow: inset 0 0 6px black
	opacity: 0.8
	border-radius: 2px
	&:hover
		opacity: 1
		cursor: pointer

.login-tab-active
	opacity: 1
	color: $primary-color

.login-label-text
	font-size: 1.2em
	margin-bottom: 8px
	display: block

.login-submit
	float: right
	margin-right: 16px



/**************
 * SEARCH BAR *
 *************/
#search-bar-container
	text-align: center
	background: #000
	padding: 16px

#search-bar
	width: 640px
	height: 34px
	// padding-left: 52px
	// transition: padding-left 0.2s
	box-sizing: border-box
	&:focus 
		// padding-left: 16px
		outline: none
		& + #search-icon
			opacity: 0

#search-icon
	transition: opacity 0.2s
	transform: rotate(-45deg)
	font-size: 2em
	display: inline-block
	color: #bbb
	-webkit-user-select: none
	user-select: none

$search-resutls-height: 185px
#search-results-wrapper
	background: #000
	transition: all 0.3s
	max-height: $search-resutls-height
	overflow: hidden
	padding: 6px 0
	&.ng-hide
		max-height: 0

.search-results-show
	
.search-result
	display: inline-block
	width: 25%
	height: 183px
	overflow: hidden
	position: relative
	padding-right: 3px
	box-sizing: border-box
	border-left: 2px solid #444
	&:hover
		border-color: #fff
		cursor: pointer
		background-color: #171717
		& .search-result-title
			color: $primary-color
	&:before
		content: ""
		background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0) 15%)
		position: absolute
		width: 100%
		height: 100%
		bottom: 0
		pointer-events: none

.search-result-title
	margin: 6px

.search-result-cover
	float: left
	width: 120px
	margin: 6px
	z-index: 5

.search-result-description
	margin-top: 10px
	font-size: 0.8em

.search-result-not-found
	text-align: center
	font-size: 1.2em
	//height: $search-resutls-height
	line-height: $search-resutls-height

@media (max-width: $large)
	#search-bar
		width: 560px
	#search-results-wrapper
		max-height: $search-resutls-height * 2
	.search-results-show
		//height: $search-resutls-height * 2
	.search-result
		width: 50%
	
@media (max-width: $small)
	#search-bar
		width: 80%
	#search-results-wrapper
		max-height: $search-resutls-height * 4
	.search-results-show
		//height: $search-resutls-height * 4
	.search-result
		width: 100%


/**********
 * FOOTER *
 **********/
#footer
	background: #0c0c0c
	position: absolute
	left: 0
	bottom: 0
	width: 100%
	height: $footer-height

#legal-notice
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	text-align: center
	font-size: 0.8em
	color: #666
	width: 900px
	font-family: sans-serif
		
@media (max-width: $medium)
	#footer
		height: $footer-height-medium
	#legal-notice
		width: 96%

@media (max-width: $small)
	#footer
		height: $footer-height-small

@media (max-width: 540px)
	#footer
		height: $footer-height-xsmall
