.account-info-wrapper

.account-info-left
	width: 40%
	float: left
	text-align: center
	border-right: 1px solid #777
	box-sizing: border-box

.account-info-right
	text-align: left
	width: 60%
	float: right

.account-tabs-wrapper
	margin: 0 30px
	overflow: hidden
	box-shadow: 0 0 10px #333
	padding: 0 7px

.account-tab
	
.account-films-wrapper
	margin: 0 30px
	overflow: hidden
	box-shadow: 0 0 10px #333
	

.account-info-username
	font-size: 1.6em
	margin-top: 22px

.account-info-login-msg
	
	

