<div class="error-box" ng-hide="authenticated">
	<h6 class="login-to-add-msg">Zaloguj się, lub utwórz konto, aby móc dodawać filmy i seriale</h6>
</div>
<div ng-show="authenticated">
	<div class="page-content-thingy add-film-page">
		<!--<h4 class="add-film-find-film">Co chcesz dodać?</h4>-->
		<div class="steps-wrapper">
			<div class="step1" ng-show="addFilmCtrl.step === 1">
				<div class="add-film-radios-wrapper">
					<div class="add-film-radio-wrapper">
						<label class="radio-label">
							<input type="radio" class="radio" name="content-type" ng-model="contentType" value="FILM" checked />
							<span>Film</span>
						</label>
					</div>
					<div class="add-film-radio-wrapper">
						<label class="radio-label">
							<input type="radio" class="radio" name="content-type" ng-model="contentType" value="SERIES" />
							<span>Serial</span>
						</label>
					</div>
				</div>

				<div class="my-hr"></div>

				<div class="add-film-title-inputs-wrapper">
					<div class="warning-box" ng-show="titleError">Tytuł musi mieć conajmniej 2 znaki.</div>
					<label class="add-film-label">
						<h5 class="add-film-title">Tytuł:</h5>
						<input type="text" class="add-film-input" ng-model="title" ng-change="addFilmCtrl.searchByTitle = true; titleError = false" />
					</label>
					<div class="add-film-or">lub</div>
					<label class="add-film-label">
						<h5 class="add-film-title">Link do filmweba:</h5>
						<input type="text" class="add-film-input" ng-model="filmwebLink" ng-change="addFilmCtrl.searchByTitle = false" />
					</label>
					<br/>
					<div class="btn-2 add-film-search-button" ng-click="addFilmCtrl.searchOrFindLink()">Szukaj</div>
					<br/><div class="btn-2" ng-click="addFilmCtrl.pick = {filmwebId: 30571}">Harry Potter</div>
				</div>

				<div ng-show="films.length || retrievingFilms || error">
					<div class="my-hr"></div>
					<div class="filmweb-search-results">
						<div ng-show="retrievingFilms" class="spinner-wrapper-wrapper add-film-spinner"><div class="spinner-wrapper"><div class="spinner-small"></div></div></div>
						<div class="error-box" ng-show="error">Wystąpił błąd. Przepraszamy za problem.</div>
						<div class="filmweb-search-entry" ng-class="{'filmweb-search-entry-active': film === addFilmCtrl.pick}" ng-repeat="film in films" ng-hide="retrievingFilms" ng-click="addFilmCtrl.pickFilm(film)">
							<img ng-src="{{film.coverFilename || noImage}}" alt="Okładka filmu" class="filmweb-search-cover" />
							<h5 class="filmweb-search-title" ng-bind="film.title"></h5>
							<div class="filmweb-search-year" ng-bind="film.year"></div>
							<div class="filmweb-search-description" ng-bind="film.description || 'Brak opisu'"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="step2" ng-show="addFilmCtrl.step === 2">
				<img class="add-film-pick-cover" ng-src="{{addFilmCtrl.pick.coverFilename || noImage}}" alt="Okładka wybranego filmu" />
				<h4 class="add-film-pick-title" ng-bind="addFilmCtrl.pick.title"></h4>
				(<span ng-bind="addFilmCtrl.pick.year"></span>)
				<div class="add-film-title-inputs-wrapper">
					<label class="add-film-label">
						<h5 class="add-film-title">Link:</h5>
						<input type="text" class="add-film-input-long" ng-model="link" ng-change="addFilmCtrl.verifyLink(link)" />
					</label>
					<br/>
					<span class="supported-hostings" ng-click="showSupportedHostings = true">Wspierane hostingi</span>
				</div>
				<div class="link-format-feedback">
					<div class="correct-link" ng-show="correctLink">
						<i class="fa fa-check green"></i>
						Format linku poprawny
						<i class="fa fa-check green"></i>
						<div>Hosting: <span ng-bind="linkHosting"></span></div>
					</div>
					<div class="incorrect-link" ng-show="correctLink == false">
						<i class="fa fa-close red"></i>
						Nieznany format linku
						<i class="fa fa-close red"></i>
					</div>
				</div>
				<div class="language-version-choice">
					<h4 class="language-version-choice-title">Wersja językowa:</h4>
					<div class="language-version-choice-radio-wrapper">
						<div class="language-version-choice-radio" ng-repeat="(version, versionName) in languageVersions">
							<label><input class="radio" type="radio" name="language-version" value="{{version}}" ng-model="$parent.languageVersion" /> <span ng-bind="versionName"></span></label>
						</div>
					</div>
				</div>
			</div>

			<div class="the-box-wrapper" ng-show="showSupportedHostings" ng-click="showSupportedHostings = false">
				<div class="the-box-outer">
					<div class="supported-hostings-wrapper the-box" ng-click="$event.stopPropagation()">
						<ul class="supported-hostings-list">
							<li class="supported-hostings-entry" ng-repeat="hosting in supportedHostings">
								<span ng-bind="hosting.displayName"></span>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="step3" ng-show="addFilmCtrl.step === 3">
					<div ng-hide="filmAdditionFinished" class="spinner-wrapper-inflow"><div class="spinner-medium"></div></div>
					<div ng-hide="filmAdditionFinished">Dodawanie filmu...</div>
					<br/>
					<div ng-show="filmAdditionSuccessful">
						Film dodany pomyślnie.
						<a ng-href="#filmy/{{addedFilmId}}"></a>
					</div>
					<div ng-show="filmAdditionFailed">
						Wystąpił błąd. <span ng-bind="filmAdditionError.status"></span>
					</div>
					<br/>
			</div>
		</div>

		<div class="my-hr"></div>
		<div class="add-film-next-buttons">
			<button class="btn-2" ng-show="addFilmCtrl.step === 1" ng-disabled="!addFilmCtrl.pick" ng-click="addFilmCtrl.goToNextStep()">Dalej</button>
			<button class="btn-2" ng-show="addFilmCtrl.step === 2" ng-disabled="!correctLink || !languageVersion" ng-click="addFilmCtrl.addFilm()">Dodaj</button>
			<button class="btn-2" ng-show="addFilmCtrl.step === 3" ng-disabled="!filmAdditionSuccessful" ng-click="addFilmCtrl.reset()">Dodaj kolejny film</button>
		</div>

		<!-- TODO: delet -->
		<br/>
		<button class="btn-2" ng-click="addFilmCtrl.goToStep(1)">1</button>
		<button class="btn-2" ng-click="addFilmCtrl.goToStep(2)">2</button>
		<button class="btn-2" ng-click="addFilmCtrl.goToStep(3)">3</button>

	</div>
</div>

