<div class="page-content-thingy">
	<h4 class="admin-title">Alltube bot</h4>
	<div class="admin-section">
		<label>
			Page
			<input type="number" ng-model="page" value="1" />
		</label>
		<div class="btn-2" ng-click="adminPanelCtrl.alltubeBot()">Run</div>
	</div>

	<h4 class="admin-title">Tvseriesonline bot</h4>
	<div class="admin-section">
		<div class="btn-2" ng-click="adminPanelCtrl.tvseriesonlineBot()">Run</div>
	</div>

	<div class="admin-success-info" ng-show="success">Success.</div>

	<div class="spinner-wrapper" ng-show="loading"><div class="spinner-small"></div></div>

	<div class="admin-panel-error-box" ng-show="error">
		<span class="admin-panel-error-label">HTTP status code: </span>
		<span ng-bind="error.status"></span>
		<br />
		<span class="admin-panel-error-label">Message: </span>
		<span ng-bind="error.msg"></span>
	</div>

</div>
