<div class="page-content-thingy">
	<div class="admin-panel-tabs">
		<div class="admin-panel-tab nav-link link" ng-class="{'nav-link-active': adminPanelTab === 'bots'}" ng-click="adminPanelTab = 'bots'">Boty</div>
		<div class="admin-panel-tab nav-link link" ng-class="{'nav-link-active': adminPanelTab === 'users'}" ng-click="setTab('users')">Użytkownicy</div>
	</div>

	<hr>

	<div class="admin-panel-tab-bots" ng-show="adminPanelTab === 'bots'">
		<h4 class="admin-title">Alltube bot</h4>
		<div class="admin-section">
			<label>
				Page
				<input type="number" ng-model="page" value="1" />
			</label>
			<div class="btn-2" ng-click="adminPanelCtrl.alltubeBot()">Run</div>
		</div>

		<h4 class="admin-title">Tvseriesonline bot</h4>
		<div class="admin-section">
			<div class="btn-2" ng-click="adminPanelCtrl.tvseriesonlineBot()">Run</div>
		</div>

		<div class="admin-success-info" ng-show="success">Success.</div>

		<div class="spinner-wrapper" ng-show="loading"><div class="spinner-small"></div></div>

	</div>

	<div class="admin-panel-tab-users" ng-if="adminPanelTab === 'users'" ng-show="adminPanelTab === 'users'">
		<div class="admin-panel-users-table">
			<table>
				<thead>
					<tr>
						<td>ID</td>
						<td>Nazwa</td>
						<td>Email</td>
						<td>Data rejestracji</td>
						<td>Dodane linki</td>
						<td>Akcje</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in users | orderBy: 'uid' track by $index">
						<td ng-bind="user.uid"></td>
						<td ng-bind="user.username"></td>
						<td ng-bind="user.email"></td>
						<td ng-bind="user.registrationDate"></td>
						<td>
							<div ng-show="user.addedPlayers.length > 0">Rozwiń</div>
							<div class="minor" ng-show="user.addedPlayers.length === 0">Brak</div>
						</td>
						<td>
							<button class="btn-3 btn-small" ng-click="removeUser(user.uid, $index)">Usuń</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="admin-panel-error-box" ng-show="error">
		<br>
		<span class="admin-panel-error-label">HTTP status code: </span>
		<span ng-bind="error.status"></span>
		<br />
		<span class="admin-panel-error-label">Message: </span>
		<span ng-bind="error.msg"></span>
	</div>

	<hr>

	<div>
		<h1 class="admin-title">Make a request:</h1>
		<input type="text" ng-model="requestUrl" />
		<label><input type="radio" name="method" value="POST" ng-model="requestMethod" /> POST</label>
		<label><input type="radio" name="method" value="GET" ng-model="requestMethod" /> GET</label>
		<div class="request-data">
			<h3>Data:</h3>
			<input type="text" ng-model="requestDataKey" />
			<input type="text" ng-model="requestDataValue" />
			<input type="submit" value="Add" ng-click="addRequestDataEntry()" />
			<input type="submit" value="Clear data" ng-click="requestData = {}" />
			<div ng-bind="requestData | json"></div>
		</div>
		<input type="submit" ng-click="performRequest()" />

		<div class="request-result">
			<div class="green" ng-show="requestSuccessful === true">Request successful.</div>
			<div class="red" ng-show="requestSuccessful === false">Request failed.</div>
			<div class="response-body">
				{{responseBody}}
			</div>
		</div>
	</div>

</div>

