<div class="page-content-thingy">
	<h4 class="admin-title">Alltube bot</h4>
	<div class="admin-section">
		<label>
			Page
			<input type="number" ng-model="page" value="1" />
		</label>
		<div class="btn-2" ng-click="adminPanelCtrl.alltubeBot()">Run</div>
	</div>

	<h4 class="admin-title">Tvseriesonline bot</h4>
	<div class="admin-section">
		<div class="btn-2" ng-click="adminPanelCtrl.tvseriesonlineBot()">Run</div>
	</div>

	<div class="admin-success-info" ng-show="success">Success.</div>

	<div class="spinner-wrapper" ng-show="loading"><div class="spinner-small"></div></div>

	<div class="admin-panel-error-box" ng-show="error">
		<span class="admin-panel-error-label">HTTP status code: </span>
		<span ng-bind="error.status"></span>
		<br />
		<span class="admin-panel-error-label">Message: </span>
		<span ng-bind="error.msg"></span>
	</div>

	<hr>

	<div>
		<h1 class="admin-title">Make a request:</h1>
		<input type="text" ng-model="requestUrl" />
		<label><input type="radio" name="method" value="POST" ng-model="requestMethod" /> POST</label>
		<label><input type="radio" name="method" value="GET" ng-model="requestMethod" /> GET</label>
		<div class="request-data">
			<h3>Data:</h3>
			<input type="text" ng-model="requestDataKey" />
			<input type="text" ng-model="requestDataValue" />
			<input type="submit" value="Add" ng-click="addRequestDataEntry()" />
			<input type="submit" value="Clear data" ng-click="requestData = {}" />
			<div ng-bind="requestData | json"></div>
		</div>
		<input type="submit" ng-click="performRequest()" />

		<div class="request-result">
			<div class="green" ng-show="requestSuccessful === true">Request successful.</div>
			<div class="red" ng-show="requestSuccessful === false">Request failed.</div>
			<div class="response-body">
				<span ng-bind="responseBody | json"></span>
			</div>
		</div>
	</div>

</div>
