<div id="films-wrapper" class="page-content-thingy">
	<div id="filters-wrapper">
		<div class="filter-wrapper">
			<span class="filter-input-label">Sortuj według: </span>
			<div class="radio-wrapper" ng-repeat="(order, orderVal) in orderBy track by $index">
				<label>
					<input class="radio" type="radio" value="{{orderVal}}" name="orderByRadio" ng-model="params.orderBy" ng-change="filmsCtrl.modelChanged()">
					<span></span>
					<span ng-bind="order"></span>
				</label>
			</div>
			<br>
			<div class="radio-wrapper" ng-repeat="(label, value) in asc track by $index">
				<label>
					<input class="radio" type="radio" value="{{value}}" name="ascRadio" ng-model="params.asc" ng-change="filmsCtrl.modelChanged()">
					<span></span>
					<span ng-bind="label"></span>
				</label>
			</div>
		</div>
		<div class="filter-wrapper">
			<label>
				<span class="filter-input-label">Tytuł: </span>
				<input class="filter-input" type="text" ng-model="params.title" ng-change="filmsCtrl.modelChanged()">
			</label>
		</div>
		<div class="filter-wrapper">
			<label>
				<span class="filter-input-label">Od roku: </span>
				<select class="filter-input" ng-model="params.yearFrom" ng-options="year as year for year in years" ng-change="filmsCtrl.modelChanged()" />
				<span class="cross-sign" ng-hide="params.yearFrom == years[years.length-1]" ng-click="params.yearFrom = years[years.length-1]; filmsCtrl.modelChanged()"></span>
			</label>
		</div>
		<div class="filter-wrapper">
			<label>
				<span class="filter-input-label">Do roku: </span>
				<select class="filter-input" ng-model="params.yearTo" ng-options="year as year for year in years" ng-change="filmsCtrl.modelChanged()" />
				<span class="cross-sign" ng-hide="params.yearTo == years[0]" ng-click="params.yearTo = years[0]; filmsCtrl.modelChanged()"></span>
			</label>
		</div>
		<div class="filter-wrapper">
			<div class="filter-input-label">Wersje:</div>
			<div class="small-btn" ng-click="filmsCtrl.clearVersions()">Odznacz wszystko</div>
			<div class="checkbox-wrapper" ng-repeat="(version, label) in languageVersions">
				<label>
					<input class="checkbox version-checkbox" type="checkbox" ng-click="filmsCtrl.toggleVersion(version)">
					<span></span>
					<span ng-bind="label"></span>
				</label>
			</div>
		</div>
		<div class="filter-wrapper">
			<div class="filter-input-label">Kategorie:</div>
			<input type="text" class="small-input-text" ng-model="categoriesFilter"></input>
			<div class="small-btn" ng-click="filmsCtrl.clearCategories()">Odznacz wszystko</div>
			<div class="checkbox-wrapper" ng-repeat="(categoryNum, category) in filmCategories | objectOrderBy | filter:categoriesFilter track by $index">
				<label>
					<input class="checkbox" type="checkbox" ng-change="filmsCtrl.modelChanged()" ng-model="params.categories[categoryNum]">
					<span></span>
					<span ng-bind="category"></span>
				</label>
			</div>
		</div>
	</div>

	<div class="spinner-wrapper-wrapper results-wrapper"><div class="spinner-wrapper" ng-hide="films"><div class="spinner-medium"></div></div></div>
	<div class="results-wrapper" ng-show="films">
		<div class="pagination-wrapper">
			<div class="pagination-first" ng-click="filmsCtrl.setPage(0)">◀◀</div>
			<div class="pagination-prev" ng-click="filmsCtrl.setPage(activePage - 1)">◀</div>
			<div class="pagination-num" ng-class="{'active-page': page == activePage}" ng-repeat="page in pages" ng-bind="page + 1" ng-click="filmsCtrl.setPage(page)"></div>
			<div class="pagination-next" ng-click="filmsCtrl.setPage(activePage + 1)">▶</div>
			<div class="pagination-last" ng-click="filmsCtrl.setPage(lastPage)">▶▶</div>
		</div>
		<div class="filter-result" ng-repeat="film in films">
			<a ng-href="#filmy/{{film.uid}}/{{film.title | seourl}}-{{film.year}}">
				<img class="filter-result-cover" ng-src="{{film.coverFilename ? images + film.coverFilename : noImage}}" alt="{{film.title}}">
				<div class="filter-result-details">
					<h3 class="filter-result-title" ng-bind="film.title"></h3>
				</div>
			</a>
			<div class="filter-result-details">
				<div class="filter-result-year">
					<span class="filter-result-label">Rok: </span>
					<span ng-bind="film.year"></span>
				</div>
				<div class="filter-result-categories">
					<span class="filter-result-label">Kategorie: </span>
					<span ng-repeat="category in film.categories"><span ng-bind="category.name"></span><span ng-bind="$last ? '' : ', '"></span></span>
				</div>
				<div class="filter-result-versions">
					<span class="filter-result-label">Wersje językowe: </span>
					<span ng-repeat="version in film.languageVersions"><span ng-bind="languageVersions[version]"></span><span ng-bind="$last ? '' : ', '"></span></span>
				</div>
				<div class="filter-result-description"><p ng-bind="film.description"></p></div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="pagination-wrapper">
			<div class="pagination-first" ng-click="filmsCtrl.setPage(0)">◀◀</div>
			<div class="pagination-prev" ng-click="filmsCtrl.setPage(activePage - 1)">◀</div>
			<div class="pagination-num" ng-class="{'active-page': page == activePage}" ng-repeat="page in pages" ng-bind="page + 1" ng-click="filmsCtrl.setPage(page)"></div>
			<div class="pagination-next" ng-click="filmsCtrl.setPage(activePage + 1)">▶</div>
			<div class="pagination-last" ng-click="filmsCtrl.setPage(lastPage)">▶▶</div>
		</div>
	</div>

	<div class="clear"></div>
</div>
