<div id="films-wrapper" class="page-content-thingy">
	<div id="filters-wrapper">
		<div class="filter-wrapper">
			<span class="filter-input-label">Sortuj według: </span>
			<div class="radio-wrapper" ng-repeat="(order, orderVal) in orderBy track by $index">
				<label>
					<input class="radio" type="radio" value="{{orderVal}}" name="orderByRadio" ng-model="params.orderBy" ng-change="seriesCtrl.modelChanged()">
					<span></span>
					<span ng-bind="order"></span>
				</label>
			</div>
			<br>
			<div class="radio-wrapper" ng-repeat="(label, value) in asc track by $index">
				<label>
					<input class="radio" type="radio" value="{{value}}" name="ascRadio" ng-model="params.asc" ng-change="seriesCtrl.modelChanged()">
					<span></span>
					<span ng-bind="label"></span>
				</label>
			</div>
		</div>
		<div class="filter-wrapper">
			<label>
				<span class="filter-input-label">Tytuł: </span>
				<input class="filter-input" type="text" ng-model="params.title" ng-change="seriesCtrl.modelChanged()">
			</label>
		</div>
		<div class="filter-wrapper">
			<div class="filter-input-label">Kategorie:</div>
			<div class="checkbox-wrapper" ng-repeat="(categoryNum, category) in seriesCategories | objectOrderBy track by $index">
				<label>
					<input class="checkbox" type="checkbox" ng-change="seriesCtrl.modelChanged()" ng-model="params.categories[categoryNum]">
					<span></span>
					<span ng-bind="category"></span>
				</label>
			</div>
		</div>
	</div>

	<div class="spinner-wrapper-wrapper results-wrapper"><div class="spinner-wrapper" ng-hide="series"><div class="spinner-medium"></div></div></div>
	<div class="results-wrapper" ng-show="series">
		<div class="pagination-wrapper">
			<div class="pagination-first" ng-click="seriesCtrl.setPage(0)">◀◀</div>
			<div class="pagination-prev" ng-click="seriesCtrl.setPage(activePage - 1)">◀</div>
			<div class="pagination-num" ng-class="{'active-page': page == activePage}" ng-repeat="page in pages" ng-bind="page + 1" ng-click="seriesCtrl.setPage(page)"></div>
			<div class="pagination-next" ng-click="seriesCtrl.setPage(activePage + 1)">▶</div>
			<div class="pagination-last" ng-click="seriesCtrl.setPage(lastPage)">▶▶</div>
		</div>
		<div class="filter-result" ng-repeat="film in series">
			<a ng-href="#seriale/{{film.uid}}/{{film.title | seourl}}-{{film.year}}">
				<img class="filter-result-cover" ng-src="{{film.coverFilename ? images + film.coverFilename : noImage}}" alt="{{film.title}}">
				<div class="filter-result-details">
					<h3 class="filter-result-title" ng-bind="film.title"></h3>
				</div>
			</a>
			<div class="filter-result-details">
				<div class="filter-result-year">
					<span class="filter-result-label">Rok: </span>
					<span ng-bind="film.year"></span>
				</div>
				<div class="filter-result-categories">
					<span class="filter-result-label">Kategorie: </span>
					<span ng-repeat="category in film.categories"><span ng-bind="category.name"></span><span ng-bind="$last ? '' : ', '"></span></span>
				</div>
				<div class="filter-result-versions">
					<span class="filter-result-label">Wersje językowe: </span>
					<span ng-repeat="version in film.languageVersions"><span ng-bind="languageVersions[version]"></span><span ng-bind="$last ? '' : ', '"></span></span>
				</div>
				<div class="filter-result-description"><p ng-bind="film.description"></p></div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="pagination-wrapper">
			<div class="pagination-first" ng-click="seriesCtrl.setPage(0)">◀◀</div>
			<div class="pagination-prev" ng-click="seriesCtrl.setPage(activePage - 1)">◀</div>
			<div class="pagination-num" ng-class="{'active-page': page == activePage}" ng-repeat="page in pages" ng-bind="page + 1" ng-click="seriesCtrl.setPage(page)"></div>
			<div class="pagination-next" ng-click="seriesCtrl.setPage(activePage + 1)">▶</div>
			<div class="pagination-last" ng-click="seriesCtrl.setPage(lastPage)">▶▶</div>
		</div>
	</div>

	<div class="clear"></div>
</div>

