@charset "UTF-8";
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    color: #f5cd2e; }

.link {
  cursor: pointer; }
  .link:hover {
    color: #f5cd2e; }

.user-select-none, .checkbox-label, .radio-label, .checkboxes-toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: white; }

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }

/***********
 * SPINNER *
 ********* */
.spinner, .spinner-medium, .spinner-small {
  margin: 60px auto;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  transform: translateZ(0);
  animation: spin 1.1s infinite linear; }

.spinner, .spinner-medium, .spinner-small,
.spinner:after,
.spinner-medium:after,
.spinner-small:after {
  border-radius: 50%;
  width: 10em;
  height: 10em; }

.spinner.ng-hide, .ng-hide.spinner-medium, .ng-hide.spinner-small {
  display: none; }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.spinner-medium {
  font-size: 0.7em; }

.spinner-small {
  font-size: 0.4em; }

.spinner-wrapper-wrapper {
  position: relative; }

.spinner-wrapper, .spinner-wrapper-inflow {
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  transform-origin: 0 50%; }

.spinner-wrapper-inflow {
  position: relative; }

.spinner-wrapper.ng-hide, .ng-hide.spinner-wrapper-inflow {
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0;
  transform: scale(1.3) translateX(-50%); }

.spinner-wrapper-alt {
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  transform-origin: 0 50%;
  z-index: 3; }

.spinner-sibling {
  height: 200px; }

.spinner-wrapper-alt.ng-hide {
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0;
  transform: scale(1.3) translateX(-50%); }

input[type="text"], input[type="password"], input[type="email"] {
  font-family: "Montserrat", sans-serif;
  padding: 0 14px;
  border-radius: 2px;
  border: none;
  height: 30px; }

input[type="text"].small-input-text {
  padding: 3px 5px;
  height: initial;
  font-size: 0.75em;
  display: block; }

textarea {
  font-family: "Montserrat", sans-serif;
  padding: 10px 14px;
  border-radius: 2px;
  border: none; }

input[type="submit"], .btn, .btn-2 {
  font-family: "Montserrat", sans-serif;
  border: none;
  border-bottom: 2px solid #111;
  background-clip: padding-box;
  outline: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 2px;
  background-color: #dc4; }
  input[type="submit"]:hover, .btn:hover, .btn-2:hover {
    box-shadow: inset 0 0 6px; }
  input[type="submit"]:active, .btn:active, .btn-2:active {
    border-color: transparent;
    transform: translateY(2px); }
  input[type="submit"]:disabled, .btn:disabled, .btn-2:disabled {
    cursor: not-allowed; }
    input[type="submit"]:disabled:hover, .btn:disabled:hover, .btn-2:disabled:hover {
      box-shadow: none; }

select {
  padding: 2px;
  border-radius: 2px;
  background: white; }

[tooltip]:before {
  content: attr(tooltip);
  position: absolute;
  opacity: 0;
  background: #676342;
  transition: opacity 0.15s;
  border-radius: 2px;
  padding: 4px;
  font-size: 0.8em;
  pointer-events: none; }
[tooltip]:hover:before {
  opacity: 1; }

.checkbox-label {
  cursor: pointer;
  font-size: 0.8em; }
  .checkbox-label:hover > input[type="checkbox"].checkbox:before {
    background: #111;
    border-color: #f5cd2e; }

input[type="checkbox"].checkbox {
  position: relative;
  visibility: hidden; }
  input[type="checkbox"].checkbox:not(:checked):after {
    transition: width 0.1s linear, height 0.1s linear 0.1s, opacity 0.2s cubic-bezier(1, 0, 1, 0); }
  input[type="checkbox"].checkbox:before {
    visibility: visible;
    content: "";
    position: absolute;
    cursor: pointer;
    border: 2px solid rgba(245, 205, 46, 0.5);
    background: #000;
    width: 11px;
    height: 11px;
    display: inline-block; }
  input[type="checkbox"].checkbox:after {
    visibility: visible;
    content: "";
    position: absolute;
    top: 7px;
    left: 2px;
    cursor: pointer;
    transition: height 0.1s linear, width 0.1s linear 0.1s;
    transform-origin: left top;
    width: 0;
    height: 0;
    border: 3px solid #f5cd2e;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0; }
  input[type="checkbox"].checkbox:checked:before {
    border-color: #b93; }
  input[type="checkbox"].checkbox:checked:after {
    opacity: 1;
    width: 10px;
    height: 5px; }

.radio-label {
  cursor: pointer;
  font-size: 0.8em; }
  .radio-label:hover > input[type="radio"].radio:before {
    background: #111;
    border-color: #f5cd2e; }

input[type="radio"].radio {
  position: relative;
  visibility: hidden; }
  input[type="radio"].radio:before {
    content: "";
    visibility: visible;
    position: absolute;
    cursor: pointer;
    border: 2px solid rgba(245, 205, 46, 0.5);
    border-radius: 50%;
    background: #000;
    width: 10px;
    height: 10px;
    display: inline-block; }
  input[type="radio"].radio:after {
    content: "";
    visibility: visible;
    position: absolute;
    left: 4px;
    top: 4px;
    cursor: pointer;
    transition: opacity 0.2s, transform 0.2s;
    transform: scale(0.2);
    width: 6px;
    height: 6px;
    background: #f5cd2e;
    border-radius: 50%;
    opacity: 0; }
  input[type="radio"].radio:checked:before {
    border-color: #f5cd2e; }
  input[type="radio"].radio:checked:after {
    opacity: 1;
    transform: scale(1); }

.error-box, .warning-box, .success-box {
  padding: 12px;
  background-color: #eaa;
  border: 1px solid #e33;
  border-radius: 2px;
  color: #111;
  margin: 12px auto;
  width: 75%; }

@media (max-width: 1150px) {
  .error-box, .warning-box, .success-box {
    width: 85%; } }
@media (max-width: 767px) {
  .error-box, .warning-box, .success-box {
    width: 92%; } }
.warning-box {
  background-color: #fff8cc;
  border-color: #dc3; }

.success-box {
  background-color: #dff0d8;
  border-color: #8f8; }

.btn, .btn-2 {
  display: inline-block;
  font-size: 0.85em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .btn:disabled, .btn-2:disabled {
    color: #666; }
    .btn:disabled:active, .btn-2:disabled:active {
      transform: translateY(0);
      border-color: #111; }

.btn-2 {
  background-color: #dc4;
  color: black; }

.clear {
  clear: both; }

.red {
  color: #943; }

.green {
  color: #483; }

.page-content-thingy {
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  box-sizing: border-box; }

@media (max-width: 1150px) {
  .page-content-thingy {
    width: 940px; } }
@media (max-width: 970px) {
  .page-content-thingy {
    width: 100%; } }
.section-heading {
  font-size: 1.4em;
  text-align: center;
  color: #f5cd2e;
  padding: 16px;
  font-weight: bold;
  opacity: 0.8; }

/************
 * CAROUSEL *
 ********** */
.carousel-film-cover {
  width: 200px;
  float: left;
  margin-left: 24px; }

.carousel-film-info {
  margin-left: 260px;
  width: 60%; }

.carousel-film-title {
  font-size: 2.6em;
  margin-bottom: 16px; }

@media (min-width: 768px) {
  .carousel-element {
    background-image: none !important; } }
@media (max-width: 767px) {
  .owl-item {
    text-align: center; }

  .carousel-film-cover {
    float: none;
    margin-left: 0;
    display: none; }

  .carousel-film-info {
    margin: 6px auto; }

  .carousel-film-title {
    padding: 40px 0; }

  .carousel-film-description {
    padding-bottom: 32px; }

  .carousel-element {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }

  .carousel-element-inner {
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 540px;
    font-size: 120%;
    text-shadow: 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black; } }
@media (max-width: 540px) {
  .carousel-element-inner {
    min-height: 360px;
    font-size: 100%; } }
/******************
 * FILMS SECTIONS *
 **************** */
.films-section {
  background: rgba(0, 0, 0, 0.3);
  margin-top: 50px;
  margin-bottom: 50px; }

.films-section-heading {
  padding-top: 20px; }

.films-section-films {
  margin: 0 24px; }

.films-section-film {
  box-sizing: border-box;
  padding: 16px;
  display: inline-block;
  text-align: center;
  width: 20%;
  vertical-align: top; }

.cover-link img {
  transition: transform 0.2s; }
.cover-link:hover img {
  transform: scale(1.1); }

.films-section-title {
  padding: 6px 0; }

.films-section-cover-wrapper {
  overflow: hidden; }

.films-section-cover {
  width: 100%;
  max-height: 282px; }

@media (max-width: 1150px) {
  .films-section-cover {
    max-height: 230px; } }
@media (max-width: 767px) {
  .films-section-cover {
    max-height: none; }

  .films-section-film {
    width: 50%; } }
.film-page-wrapper {
  margin: auto;
  padding-top: 42px; }

.film-info-cover {
  width: 210px;
  float: left;
  padding-right: 20px; }

.film-info-without-cover {
  margin-left: 200px; }

.film-info-title {
  font-size: 2.8em; }

.film-info-info {
  font-size: 0.9em;
  margin: 20px 0; }

.film-info-info-label {
  font-weight: bold; }

.film-info-description {
  line-height: 1.2; }

.film-buttons {
  margin-top: 6px; }

.film-button {
  display: inline-block;
  margin-top: 6px;
  position: relative; }
  .film-button:before {
    transform: translate(6px, 30px); }

.film-button-watchlist-anim:after {
  content: ""; }

.film-button-favorites-anim:after {
  content: ""; }

.film-button-watchlist-anim:after, .film-button-favorites-anim:after {
  padding: 4px 6px 3px;
  font-size: 1.1em;
  font-family: FontAwesome;
  animation: scaleAndFade 0.35s;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1);
  opacity: 0; }

@keyframes scaleAndFade {
  0% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(2); } }
.film-button-inner {
  background-color: #333;
  border-radius: 3px;
  padding: 4px 6px 3px;
  font-size: 1.1em; }

.film-button-on {
  color: #555;
  background-color: #d8bb26; }
  .film-button-on:hover {
    color: #fff; }

.no-tooltip:before {
  display: none; }

.cast-wrapper {
  float: right;
  width: 20%;
  border-left: 1px solid #eed;
  padding-left: 16px;
  margin-left: 8px; }

.cast-title {
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 5px; }

.cast-list {
  overflow-y: scroll;
  height: 320px; }

.cast-list-element {
  padding: 2px; }

.cast-person-avatar {
  height: 60px;
  padding-right: 10px;
  float: left; }

.cast-person-name {
  word-wrap: break-word; }

@media (max-width: 767px) {
  .film-info {
    text-align: center;
    display: flex;
    flex-direction: column; }

  .film-info-cover {
    margin: auto;
    float: none;
    width: auto;
    max-width: 300px;
    padding-right: 0;
    order: 1; }

  .film-info-without-cover {
    margin: 18px 6px;
    order: 2; }

  .film-button-inner {
    font-size: 1.5em; }

  .film-button-watchlist-anim:after, .film-button-favorites-anim:after {
    padding: 0;
    top: -1px;
    left: 1px;
    font-size: 1.5em; }

  .cast-wrapper {
    order: 3;
    float: none;
    width: 100%;
    border: none;
    margin-left: auto;
    padding-left: 0;
    white-space: nowrap; }

  .cast-title {
    font-size: 1.6em;
    margin: 10px; }

  .cast-list {
    overflow-y: hidden;
    overflow-x: scroll;
    height: auto; }

  .cast-list-element {
    display: inline-block;
    border-right: 1px solid #666;
    padding: 0 4px; }

  .cast-person-avatar {
    float: none;
    height: 80px;
    padding-right: 0;
    display: block;
    margin: auto; }

  .cast-person-name {
    padding: 4px 0;
    word-wrap: normal;
    display: table-caption; } }
.player-section {
  margin-top: 32px; }

.player-select {
  background-color: #111; }

.player-entry {
  display: inline-block;
  padding: 6px;
  text-align: center;
  font-size: 0.8em; }
  .player-entry:hover {
    background-color: #222;
    cursor: pointer; }

.player-entry-inner {
  display: table; }

.player-entry-active {
  background-color: #222; }
  .player-entry-active:hover {
    cursor: default; }

.player-name-wrapper {
  display: inline-block; }

.player-voting-wrapper {
  vertical-align: middle;
  display: table-cell;
  font-size: 1.3em;
  padding-left: 8px; }

.player-thumbs-up, .player-thumbs-down {
  padding: 2px;
  cursor: pointer; }

.player-thumbs-up:hover {
  color: #483; }

.player-thumbs-down:hover {
  color: #943; }

.player {
  background-color: #090909;
  margin-bottom: 16px; }

@media (min-width: 1150px) {
  .player {
    width: 1100px;
    height: 617.97753px; } }
@media (min-width: 970px) and (max-width: 1150px) {
  .player {
    width: 940px;
    height: 528.08989px; } }
@media (max-width: 970px) {
  .player {
    width: 100%;
    height: 528.94382px; } }
.rate-wrapper {
  float: right;
  margin: auto 16px;
  margin-top: 8px; }

.rate-label {
  margin-right: 8px; }

.stars-wrapper:hover .rate-star {
  color: #f5cd2e; }

.rate-star {
  cursor: pointer;
  margin-right: 3px; }

.rate-star-disabled {
  margin-right: 3px; }

.rate-tooltip-span:before {
  transform: translate(-8px, -24px);
  transition: opacity 0s; }

.zero-star-span {
  width: 10px;
  height: 19px;
  position: absolute;
  cursor: pointer; }

.rating {
  float: right; }

.rating-rating {
  text-align: center; }

.rating-actual-rating {
  font-size: 1.4em; }

.rating-times-rated {
  font-size: 0.7em;
  text-align: center; }

@media (max-width: 970px) {
  .below-player-section {
    margin: 0 16px; } }
@media (max-width: 767px) {
  .rating {
    float: none;
    margin-bottom: 22px; }

  .rate-wrapper {
    float: none;
    text-align: center; }

  .rate-label {
    display: block;
    margin-bottom: 6px; }

  .stars-wrapper {
    margin-top: 6px;
    display: block; }

  .below-player-section {
    margin: auto; } }
.comment-section {
  margin-top: 16px; }

.comment-section-title {
  font-size: 1.4em;
  margin-left: 180px; }
  .comment-section-title:before, .comment-section-title:after {
    content: "";
    border-top: 2px solid #f5edce;
    position: absolute; }
  .comment-section-title:before {
    width: 150px;
    transform: translate(-180px, 12px); }
  .comment-section-title:after {
    width: 500px;
    transform: translate(30px, 12px); }

.comment-input {
  margin-top: 20px;
  display: block; }
  .comment-input.ng-invalid.ng-touched {
    background-color: #fde; }

.comment-submit-wrapper {
  margin: 10px 0;
  display: inline-block; }
  .comment-submit-wrapper:before {
    transform: translate(6.5em, 0.5em); }

.comment-block {
  padding: 6px 20px;
  margin: 6px;
  background: rgba(50, 50, 50, 0.2); }

.comment-avatar {
  width: 24px;
  vertical-align: middle; }

.comment-date-span {
  font-size: 0.7em;
  color: #666;
  margin-left: 10px; }

.comment-contents {
  font-size: 0.8em;
  margin: 6px;
  word-wrap: break-word; }

@media (max-width: 970px) {
  .comment-section-title {
    margin-left: 170px; }
    .comment-section-title:before {
      width: 140px;
      transform: translate(-170px, 12px); }
    .comment-section-title:after {
      width: 340px; }

  .comment-input {
    margin-left: 16px; }

  .comment-submit-wrapper {
    margin-left: 19px; } }
@media (max-width: 767px) {
  .comment-section-title {
    margin: auto;
    text-align: center; }
    .comment-section-title:before {
      width: 116px;
      transform: translate(-136px, 12px); }
    .comment-section-title:after {
      width: 116px;
      transform: translate(20px, 12px); }

  .comment-input {
    margin-left: auto;
    margin-right: auto;
    width: 85%; } }
@media (max-width: 430px) {
  .comment-section-title:before {
    width: 60px;
    transform: translate(-80px, 12px); }
  .comment-section-title:after {
    width: 60px; } }
@media (max-width: 320px) {
  .comment-section-title:before {
    display: none; }
  .comment-section-title:after {
    display: none; } }
.films-wrapper {
  margin-top: 30px;
  background: rgba(0, 0, 0, 0.3);
  padding: 16px;
  border: 1px solid #ddd; }

.filters-wrapper {
  float: left;
  width: 30%; }

.filter-wrapper {
  margin: 10px; }

.filter-input-label {
  font-size: 1.1em;
  font-weight: bold;
  display: inline-block;
  margin: 5px auto; }

.filter-input {
  display: block;
  margin: 6px 0; }

select.filter-input {
  display: inline-block; }

.cross-sign {
  position: absolute;
  width: 20px;
  height: 20px;
  transform: translate(8px, 7px);
  border: 1px solid white; }
  .cross-sign:hover {
    cursor: pointer; }
    .cross-sign:hover:before, .cross-sign:hover:after {
      border-color: #f5cd2e; }
  .cross-sign:before, .cross-sign:after {
    content: "";
    width: 16px;
    border: 1px solid white;
    position: absolute; }
  .cross-sign:before {
    transform: translate(1px, 9px) rotate(45deg); }
  .cross-sign:after {
    transform: translate(1px, 9px) rotate(-45deg); }

.results-wrapper {
  width: 70%;
  float: right;
  padding-top: 12px; }

.pagination-wrapper {
  text-align: center;
  margin: 10px 0; }
  .pagination-wrapper > div {
    display: inline-block;
    margin: 2px;
    border: 2px solid white;
    padding: 6px;
    cursor: pointer;
    min-width: 16px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .pagination-wrapper > div:hover {
      color: #f5cd2e; }

.active-page {
  color: #f5cd2e; }

.filter-result {
  margin-bottom: 30px; }

.filter-result-cover {
  width: 200px;
  float: left;
  margin-right: 10px; }

.filter-result-title {
  font-size: 2em; }

.filter-result-year, .filter-result-categories, .filter-result-versions {
  margin: 4px auto; }

.filter-result-description {
  margin-top: 10px; }

.filter-result-label {
  color: #777; }

.small-btn {
  cursor: pointer;
  font-size: 0.9em;
  color: #999;
  padding: 2px;
  display: table-cell; }
  .small-btn:hover {
    text-decoration: underline; }

.checkboxes-toggle {
  display: none;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ccc;
  width: 160px;
  margin: 10px auto;
  padding: 6px; }

.checkboxes-toggle-active {
  background-color: #333; }

@media (max-width: 970px) {
  .filters-wrapper {
    margin: auto;
    float: none;
    width: 400px;
    padding-bottom: 20px;
    border-bottom: 1px solid #777;
    font-size: 1.4em; }

  .filter-wrapper {
    margin: 20px; }

  div.filter-input-label {
    text-align: center;
    display: block; }

  .title-filter-input {
    margin-left: auto;
    margin-right: auto; }

  .year-filter-wrapper {
    text-align: center; }

  .checkboxes-toggle {
    display: block; }

  .small-btn {
    font-size: 1em; }

  .checkboxes-wrapper {
    display: none; }

  .filters-wrapper .radio-label {
    display: block;
    margin: 10px;
    text-align: center; }
    .filters-wrapper .radio-label input.radio {
      transform: scale(1.2) translateY(-1px); }
  .filters-wrapper .checkbox-label {
    display: block;
    margin: 10px; }
    .filters-wrapper .checkbox-label input.checkbox {
      transform: scale(1.2) translateY(-1px); }

  .checkboxes-visible {
    display: initial; }

  .results-wrapper {
    width: 100%; } }
@media (max-width: 767px) {
  .films-wrapper {
    padding: 16px 4px; }

  .filters-wrapper {
    width: 300px; } }
.admin-panel-error-box {
  padding: 12px;
  background: #eaa;
  border: 1px solid #e33;
  border-radius: 2px;
  color: #111;
  margin: 12px; }

.admin-title {
  font-size: 1.5em; }

.admin-section {
  margin: 8px 16px 24px; }

.admin-panel-error-label {
  color: #444; }

.admin-success-info {
  color: #4a3;
  font-size: 1.3em;
  text-align: center;
  margin: 10px; }

.bg-light {
  background-color: white; }

.bg-dark {
  background-color: #282828; }

.add-film-page {
  margin-top: 20px;
  text-align: center; }

.add-film-find-film {
  font-size: 1.6em;
  text-align: center;
  margin-bottom: 28px; }

.add-film-radios-wrapper {
  font-size: 1.3em;
  margin-bottom: 14px; }

.my-hr {
  margin: 0 auto;
  width: 300px;
  border-bottom: 1px solid #444; }

.add-film-radio-wrapper {
  display: inline-block;
  margin: 0 6px; }

.add-film-title-inputs-wrapper {
  margin: 18px auto; }

.add-film-title {
  text-align: right;
  font-size: 1.3em;
  display: inline-block;
  width: 208px;
  margin-right: 22px; }

.add-film-input {
  display: inline-block; }

.add-film-input-long {
  width: 440px;
  margin-right: 230px; }

.add-film-or {
  margin: 8px 20px;
  font-size: 0.9em; }

.add-film-search-button {
  margin-top: 12px; }

.filmweb-search-results {
  margin: 16px auto;
  white-space: normal; }

.add-film-spinner {
  height: 112px; }
  .add-film-spinner .spinner, .add-film-spinner .spinner-medium, .add-film-spinner .spinner-small {
    margin: 16px auto; }

.filmweb-search-entry {
  padding: 6px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  width: 33%;
  vertical-align: top;
  word-wrap: break-word; }
  .filmweb-search-entry:hover {
    background-color: #383838; }

.filmweb-search-entry-active {
  background-color: #5b5b5b;
  box-shadow: inset 0 0 10px black; }
  .filmweb-search-entry-active:hover {
    background-color: #5b5b5b; }

.filmweb-search-cover {
  width: 150px;
  margin-right: 4px;
  float: left; }

.filmweb-search-title {
  padding: 4px; }

.filmweb-search-year {
  padding: 4px; }

.filmweb-search-description {
  padding: 4px;
  font-size: 0.8em; }

.add-film-next-buttons {
  margin-top: 12px; }

.btn-disabled {
  color: #aaa;
  cursor: disabled; }
  .btn-disabled:hover {
    box-shadow: none; }

.steps-wrapper {
  white-space: nowrap;
  text-align: center;
  transition: height cubic-bezier(0.12, 0.35, 0, 1) 0.5s;
  transition: height cubic-bezier(0.34, 1.08, 0, 1) 0.5s; }

.step1, .step2, .step3 {
  display: inline-block; }
  .step1.ng-hide-add, .step2.ng-hide-add, .step3.ng-hide-add {
    transition: all 0.5s;
    display: inline-block; }
  .step1.ng-hide-remove, .step2.ng-hide-remove, .step3.ng-hide-remove {
    transition: all 0.5s;
    display: inline-block;
    position: absolute; }
  .step1.ng-hide, .step2.ng-hide, .step3.ng-hide {
    opacity: 0; }

.add-film-pick-cover {
  max-height: 250px;
  margin-bottom: 8px; }

.add-film-pick-title {
  font-size: 1.5em; }

.supported-hostings {
  text-decoration: underline;
  margin: 16px 0 6px;
  cursor: pointer;
  font-size: 0.9em;
  color: #aaa;
  display: inline-block; }
  .supported-hostings:hover {
    color: #ddd; }

.supported-hostings-list {
  margin-top: 12px; }

.supported-hostings-entry {
  padding: 2px; }

.link-format-feedback {
  margin-bottom: 16px; }

.language-version-choice-title {
  font-size: 1.4em; }

.language-version-choice-radio {
  margin: 6px; }
  .language-version-choice-radio label {
    cursor: pointer; }

@media (max-width: 1150px) {
  .filmweb-search-entry {
    width: 50%; } }
@media (max-width: 767px) {
  .filmweb-search-entry {
    width: 100%;
    margin: auto; }

  .add-film-title {
    text-align: center;
    display: block;
    margin: 12px auto; } }
.seasons-wrapper {
  border: 1px solid white;
  margin-top: 12px;
  display: table;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

.season-list {
  width: 24%;
  border-right: 1px solid #ccc;
  vertical-align: top;
  background-color: rgba(0, 0, 0, 0.1);
  display: table-cell; }

.episode-list {
  width: 75%;
  display: table-cell;
  transition: opacity 0.1s, transform 0.1s; }

.episode-list-animation {
  opacity: 0;
  transform: scale(1, 0); }

.season-entry {
  font-size: 1.2em;
  padding: 20px;
  border-bottom: 1px solid #777;
  background-color: rgba(0, 0, 0, 0.3); }
  .season-entry:hover {
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer; }

.active-season-entry {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  color: #f5cd2e; }
  .active-season-entry:hover {
    cursor: inherit;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.6); }

.episode-entry:hover {
  background-color: rgba(0, 0, 0, 0.4); }

.episode-entry-inner {
  padding: 10px;
  transition: transform 0.12s; }
  .episode-entry-inner:hover {
    transform: translateX(8px); }

.no-episodes-message {
  margin: 24px;
  font-size: 1.2em;
  text-align: center; }

.episode-wrapper {
  margin-top: 26px; }

.episode-list-btn {
  float: left; }

.episode-next-btn {
  float: right; }

.episode-btn-arrow {
  display: inline-block;
  transform: translateY(-2px); }

.episode-list-btn, .episode-next-btn {
  padding: 8px; }

.episode-title {
  text-align: center;
  font-size: 1.4em; }

.episode-title-label {
  color: #999; }

.account-page-wrapper {
  padding-top: 20px; }

.account-info-left {
  width: 30%;
  float: left;
  text-align: center; }

.account-info-right {
  text-align: left;
  width: 70%;
  float: right; }

.account-tabs-wrapper {
  margin: 0 30px;
  overflow: hidden;
  box-shadow: 0 0 10px #555;
  padding: 0 7px;
  margin-bottom: 18px; }

.account-films-wrapper {
  margin: 0 30px;
  overflow: hidden;
  box-shadow: 0 0 10px #555;
  padding: 11px;
  margin-bottom: 6px; }

.account-films-empty-msg {
  font-size: 1.2em;
  margin: 8px;
  color: #777; }

.account-films-entry {
  margin-bottom: 10px;
  position: relative;
  opacity: 1;
  transition: opacity 0.2s, transform 0.2s; }
  .account-films-entry.ng-leave-active {
    opacity: 0;
    transform: translateX(80px); }

.account-film-cover {
  width: 120px;
  float: left;
  margin-right: 16px; }

.account-film-details {
  font-size: 0.9em; }

.playlist-delete-button {
  position: absolute;
  left: 6px; }
  .playlist-delete-button:before {
    max-width: 100px; }

.account-info-username {
  font-size: 1.6em;
  margin-top: 22px; }

body {
  background: #222 url("../images/blacktiles.png") repeat;
  color: #f5edce;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 80px;
  overflow-x: hidden; }

@media (max-width: 970px) {
  body {
    padding-bottom: 94px; } }
@media (max-width: 767px) {
  body {
    padding-bottom: 120px; } }
@media (max-width: 540px) {
  body {
    padding-bottom: 148px; } }
html {
  position: relative;
  min-height: 101%; }

@media (max-width: 767px) {
  html {
    min-height: 100%; } }
#body {
  overflow: hidden;
  min-height: 340px;
  background: linear-gradient(to bottom, black 60px, transparent 340px);
  margin-bottom: 20px; }

/**********
 * NAVBAR *
 ********* */
#navbar {
  background: linear-gradient(#444, #303030);
  border-bottom: 1px solid #555; }

#title-img-wrapper {
  float: left;
  margin-right: 14px;
  display: table;
  height: 64px;
  margin-left: 12px; }
  #title-img-wrapper a {
    display: table-cell;
    vertical-align: middle; }

#title-img {
  height: 42px;
  padding-top: 2px; }

.nav-link {
  float: left;
  line-height: 44px;
  margin: 10px 3px;
  padding: 0 12px;
  font-size: 0.9em;
  background: linear-gradient(#4a4a4a, #303030);
  box-shadow: inset 0 0 6px black;
  opacity: 0.8;
  border-radius: 2px; }
  .nav-link:hover {
    opacity: 1; }

.nav-link-active {
  opacity: 1;
  color: #f5cd2e; }

#login-wrapper {
  float: right;
  margin-top: 10px;
  text-align: right;
  margin-right: 12px; }

#register {
  font-size: 1.2em;
  color: #f5cd2e;
  line-height: 1.4em;
  font-weight: bold;
  opacity: 0.8; }

#login {
  font-size: 0.8em;
  padding: 4px;
  opacity: 0.8; }

#register, #login {
  cursor: pointer;
  display: inline-block; }
  #register:hover, #login:hover {
    opacity: 1; }

.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 0.9em;
  width: 280px;
  background-color: #692;
  border-radius: 3px;
  padding: 5px 7px;
  box-shadow: 0 0 15px 2px black;
  display: table;
  transform: translateY(0px);
  z-index: 3;
  opacity: 1;
  transition: transform 0.2s, opacity 0.2s; }
  .notification.ng-hide {
    transform: translateY(-16px);
    opacity: 0; }

.red-notification {
  background-color: #c43; }

.notification-icon {
  font-size: 1em;
  display: table-cell;
  vertical-align: middle;
  padding-right: 5px; }

.notification-text {
  display: table-cell; }

.notification-undo {
  text-decoration: underline;
  padding-right: 3px;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle; }

.notification-close {
  cursor: pointer;
  font-size: 1.5em;
  display: table-cell;
  vertical-align: top;
  padding-bottom: 4px; }
  .notification-close:hover {
    color: #f5cd2e; }

@media (max-width: 767px) {
  .notification-close {
    font-size: 2em; } }
.account-box {
  float: right;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 12px; }

.hello-user {
  display: inline-block; }

.avatar {
  display: inline-block;
  vertical-align: middle;
  width: 32px; }

.account-dropdown {
  background-color: #313131;
  border-bottom-left-radius: 4px;
  position: absolute;
  top: 64px;
  right: 0;
  padding: 0 4px;
  z-index: 3;
  border-bottom: 1px solid #555;
  border-left: 1px solid #555;
  transition: max-height 0.2s;
  max-height: 0;
  overflow: hidden; }
  .account-dropdown li {
    padding: 12px; }

.account-dropdown-list {
  padding: 8px; }

.account-dropdown-down {
  max-height: 200px; }

.account-dropdown-icon {
  font-size: 24px;
  vertical-align: middle;
  margin-right: 8px;
  transform: translateY(-3px); }
  .account-dropdown-icon:hover {
    color: inherit; }

.hamburger-wrapper {
  display: none;
  padding: 0 14px;
  float: right;
  font-size: 2.6em;
  height: 64px;
  cursor: pointer; }
  .hamburger-wrapper > .fa {
    display: table-cell;
    vertical-align: middle; }

@media (max-width: 970px) {
  .account-box {
    display: none; }

  .hamburger-wrapper {
    display: table; }

  .nav-links {
    border-bottom: 1px solid #444; }

  .navbar-nav-link {
    float: none;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 20px;
    font-size: 1em;
    text-align: center;
    letter-spacing: 1px; }

  .navbar-dropdown {
    border-top: 1px solid #555;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s;
    background-color: #222;
    background-image: linear-gradient(to bottom, #333, #181818);
    width: 100%;
    margin: 0 auto; }

  .navbar-dropdown-down {
    max-height: 360px;
    display: block; }

  .account-dropdown {
    position: static;
    max-height: none;
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 1.2em; }
    .account-dropdown li {
      border-bottom: 1px solid #111; }
      .account-dropdown li:hover {
        background-color: #2d2d2d; }

  .account-dropdown-list {
    padding: 0; }

  #login-wrapper {
    float: none;
    text-align: center;
    font-size: 140%;
    margin-bottom: 10px; }

  #register {
    border-bottom: 1px solid #666;
    padding-bottom: 6px; }

  #login {
    padding-top: 10px; } }
@media (max-width: 767px) {
  #navbar {
    position: fixed;
    width: 100%;
    z-index: 8;
    box-shadow: 0 0 14px 4px black; }

  #search-wrapper {
    position: relative;
    top: 64px;
    margin-bottom: 64px; } }
.the-box-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  opacity: 1;
  transition: opacity 0.2s; }
  .the-box-wrapper.ng-hide {
    opacity: 0; }
    .the-box-wrapper.ng-hide .the-box-outer {
      transform: translateY(-25px); }

.the-box-outer {
  border: 1px solid red;
  transition: transform 0.2s;
  transform: translateY(0);
  position: absolute;
  left: 50%;
  top: 50%; }

.the-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #282828;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px 2px black;
  border: 2px ridge #666;
  padding-bottom: 16px; }

.the-box-message {
  width: 80%;
  padding: 6px;
  display: inline-block;
  margin: 4px 0;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px; }

.the-box-message-green {
  color: #484;
  background-color: #cec;
  border-color: #5d2; }

.the-box-message-yellow {
  background-color: #eea;
  border-color: #fd3;
  color: #970; }

.login-form label {
  display: block;
  margin: 16px; }

.login-text-input {
  width: 200px; }

.login-error {
  background: #c55;
  margin: 16px;
  padding: 8px;
  border-radius: 2px; }

.login-tabs {
  margin-bottom: 2px;
  display: inline-block; }

.login-tab {
  display: inline-block;
  line-height: 44px;
  padding: 0 12px;
  margin: 6px 3px;
  font-size: 0.9em;
  background: linear-gradient(#4a4a4a, #303030);
  box-shadow: inset 0 0 6px black;
  opacity: 0.8;
  border-radius: 2px; }
  .login-tab:hover {
    opacity: 1;
    cursor: pointer; }

.login-tab-active {
  opacity: 1;
  color: #f5cd2e; }

.login-label-text {
  font-size: 1.2em;
  margin-bottom: 8px;
  display: block; }

.login-submit {
  float: right;
  margin-right: 16px; }

/**************
 * SEARCH BAR *
 ************ */
#search-bar-container {
  text-align: center;
  background: #000;
  padding: 16px; }

#search-bar {
  width: 640px;
  height: 34px;
  box-sizing: border-box; }
  #search-bar:focus {
    outline: none; }
    #search-bar:focus + #search-icon {
      opacity: 0; }

#search-icon {
  transition: opacity 0.2s;
  transform: rotate(-45deg);
  font-size: 2em;
  display: inline-block;
  color: #bbb;
  -webkit-user-select: none;
  user-select: none; }

#search-results-wrapper {
  background: #000;
  transition: all 0.3s;
  max-height: 185px;
  overflow: hidden;
  padding: 6px 0; }
  #search-results-wrapper.ng-hide {
    max-height: 0; }

.search-result {
  display: inline-block;
  width: 25%;
  height: 183px;
  overflow: hidden;
  position: relative;
  padding-right: 3px;
  box-sizing: border-box;
  border-left: 2px solid #444; }
  .search-result:hover {
    border-color: #fff;
    cursor: pointer;
    background-color: #171717; }
    .search-result:hover .search-result-title {
      color: #f5cd2e; }
  .search-result:before {
    content: "";
    background: linear-gradient(to top, black, transparent 15%);
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    pointer-events: none; }

.search-result-title {
  margin: 6px; }

.search-result-cover {
  float: left;
  width: 120px;
  margin: 6px;
  z-index: 5; }

.search-result-description {
  margin-top: 10px;
  font-size: 0.8em; }

.search-result-not-found {
  text-align: center;
  font-size: 1.2em;
  line-height: 185px; }

@media (max-width: 1150px) {
  #search-bar {
    width: 560px; }

  #search-results-wrapper {
    max-height: 370px; }

  .search-result {
    width: 50%; } }
@media (max-width: 767px) {
  #search-bar {
    width: 80%; }

  #search-results-wrapper {
    max-height: 740px; }

  .search-result {
    width: 100%; } }
/**********
 * FOOTER *
 ********* */
#footer {
  background: #0c0c0c;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px; }

#legal-notice {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 0.8em;
  color: #666;
  width: 900px;
  font-family: sans-serif; }

@media (max-width: 970px) {
  #footer {
    height: 94px; }

  #legal-notice {
    width: 96%; } }
@media (max-width: 767px) {
  #footer {
    height: 120px; } }
@media (max-width: 540px) {
  #footer {
    height: 148px; } }

/*# sourceMappingURL=main.css.map */
