<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>

	<meta charset="UTF-8">
	<title>Ultrakino.pl - oglądaj najlepsze filmy i seriale za darmo!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#282828">
	<meta name="msapplication-navbutton-color" content="#4285f4">
	<meta name="apple-mobile-web-app-status-bar-style" content="#4285f4">

	<link rel="icon" href="images/favicon.png">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
	<link rel="stylesheet" href="plugins/owl/owl.carousel.css">
	<link rel="stylesheet" href="plugins/owl/owl.theme.css">
	<link rel="stylesheet" href="plugins/owl/owl.transitions.css">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>

	<div id="full-body" ng-cloak class="ng-cloak">
		<div id="navbar">
			<div id="hamburger" style="display:none">&#8801;</div>
			<div id="title-img-wrapper"><a href="#/"><img src="images/title.png" id="title-img"></a></div>
			<div class="nav-links" ng-controller="TabsController as tabsCtrl">
				<a href="#filmy"><div class="nav-link" ng-class="{'nav-link-active': $route.current.activeTab == 'films'}">FILMY</div></a>
				<a href="#seriale"><div class="nav-link" ng-class="{'nav-link-active': $route.current.activeTab == 'series'}">SERIALE</div></a>
			</div>
			<div ng-controller="UserController as userCtrl" ng-init="userCtrl.authenticate()">
				<div id="login-wrapper" ng-hide="authenticated">
					<div id="register" ng-click="userCtrl.TheBox.showRegisterBox()">ZAREJESTRUJ SIĘ</div>
					<br />
					<div id="login" ng-click="userCtrl.TheBox.showLoginBox()">ZALOGUJ SIĘ</div>
				</div>

				<div class="account-box nav-link" ng-show="authenticated" ng-click="userCtrl.toggleAccountDropdown()" click-anywhere-but-here="userCtrl.hideAccountDropdown()">
					<img class="avatar" ng-src="{{user.avatarFilename}}" alt="avatar użytkownika">
					<div class="hello-user">
						<span ng-bind="user.username"></span> <span ng-hide="userCtrl.accountDropdownVisible">▼</span><span ng-show="userCtrl.accountDropdownVisible">▲</span>
					</div>
				</div>
				<div class="account-dropdown" ng-show="userCtrl.accountDropdownVisible">
					<ul>
						<a href="#moje-konto"><li><i class="account-dropdown-icon fa fa-user"></i>MOJE KONTO</li></a>
						<a href="#dodaj-film"><li><i class="account-dropdown-icon fa fa-plus-square"></i>DODAJ FILM/SERIAL</li></a>
						<a href="#panel-admina" ng-show="isAdmin"><li>PANEL ADMINA</li></a>
						<li class="link" ng-click="userCtrl.logout()"><i class="account-dropdown-icon fa fa-arrow-circle-left"></i>WYLOGUJ</li>
					</ul>
				</div>
				<div class="notification-wrapper-outer">
					<div class="notification-wrapper-inner">
						<div class="notification" ng-show="userCtrl.User.showNotification">
							<i class="fa fa-check notification-icon"></i>
							<span class="notification-text" ng-bind="userCtrl.User.notification"></span>
							<span class="notification-undo" ng-show="userCtrl.User.undo" ng-click="userCtrl.User.undo()">Cofnij</span>
							<i class="fa fa-close notification-close" ng-click="userCtrl.User.closeNotification()"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>

		<div class="the-box-wrapper" ng-show="userCtrl.TheBox.theBoxVisible" ng-click="userCtrl.TheBox.hideTheBox()" ng-controller="UserController as userCtrl">
			<div class="the-box-outer">
				<div class="the-box" ng-click="$event.stopPropagation()">

					<div class="login-tabs">
						<div class="login-tab" ng-class="{'login-tab-active': userCtrl.TheBox.loginTab}" ng-click="userCtrl.TheBox.showLoginBox()">
							LOGOWANIE
						</div><!--
						--><div class="login-tab" ng-class="{'login-tab-active': !userCtrl.TheBox.loginTab}" ng-click="userCtrl.TheBox.showRegisterBox()">
							REJESTRACJA
						</div>
					</div>

					<div class="login-box" ng-show="userCtrl.TheBox.loginTab">
						<div class="login-error" ng-show="userCtrl.TheBox.authenticationFailed">
							Podana kombinacja loginu i hasła jest nieprawidłowa.
						</div>
						<div class="the-box-message the-box-message-yellow" ng-show="userCtrl.TheBox.loginMessage">
							<span ng-bind="userCtrl.TheBox.loginMessage"></span>
						</div>
						<form class="login-form" ng-submit="userCtrl.authenticate(form)">
							<label>
								<span class="login-label-text">Login:</span>
								<input class="login-text-input" type="text" ng-model="form.username" />
							</label>
							<label>
								<span class="login-label-text">Hasło:</span>
								<input class="login-text-input" type="password" ng-model="form.password" />
							</label>
							<input type="submit" value="Zaloguj się" class="login-submit" />
						</form>
					</div>

					<div class="register-box" ng-hide="userCtrl.TheBox.loginTab">
						<div class="the-box-message the-box-message-green" ng-show="userCtrl.TheBox.registerMessage">
							<span ng-bind="userCtrl.TheBox.registerMessage"></span>
						</div>
						<form class="login-form" ng-submit="">
							<label>
								<span class="login-label-text">Email:</span>
								<input class="login-text-input" type="email" ng-model="registerForm.email" />
							</label>
							<label>
								<span class="login-label-text">Login:</span>
								<input class="login-text-input" type="text" ng-model="registerForm.username" />
							</label>
							<label>
								<span class="login-label-text">Hasło:</span>
								<input class="login-text-input" type="password" ng-model="registerForm.password" />
							</label>
							<input type="submit" value="Załóż konto" class="login-submit" />
						</form>
					</div>

				</div>
			</div>
		</div>
		
		<div id="search-wrapper" ng-controller="SearchController as searchCtrl">
			<div id="search-bar-container">
				<input type="text" name="search" id="search-bar" placeholder="Szukaj" ng-change="searchCtrl.search()" ng-model="searchCtrl.query" ng-focus="showResults = true" click-anywhere-but-here="showResults = false" />
				<!-- <span id="search-icon">&#9906;</span> -->
			</div>

			<div click-anywhere-but-here="showResults = false" id="search-results-wrapper" ng-show="showResults && searchCtrl.query.length > 1" ng-class="{'search-results-show': showResults == true}">
				<div class="search-result-not-found" ng-show="noResults">Nie znaleziono filmu ani serialu.</div>
				<div class="search-result" ng-repeat="film in searchCtrl.films track by $index" ng-class="{'search-result-border': $index !== 0}">
					<span class="search-result-link" ng-click="searchCtrl.resultClicked(film)">
						<img class="search-result-cover" ng-src="{{film.coverFilename ? images + film.coverFilename : noImage}}" alt="{{film.title}}">
						<h4 class="search-result-title" ng-bind="film.title"></h4>
					</span>
					<h6>Rok: <span ng-bind="film.year"></span></h6>
					<div class="search-result-description-wrapper">
						<p class="search-result-description" ng-bind="film.description"></p>
					</div>
				</div>
			</div>
		</div>
        
		<div id="body"><div ng-view></div></div>

		<div id="footer">
			<div id="legal-notice">Ultrakino.pl jest darmowym, dostępnym dla każdego katalogiem seriali i filmów. Użytkownik odwiedzający serwis akceptuje jego Regulamin. Wszelkie linki lub kody embed zamieszczone w serwisie są odnośnikami do zewnętnych stron, na których możliwe jest odnalezienie materiału. Linki w serwisie dodawane są przez jego użytkowników, którzy zapewniają, że posiadają prawa autorskie do dodawanych materiałów. Wszelkie roszczenia prawne należy kierować pod adresem serwisów publikujących zamieszczone materiały.</div>
		</div>
	</div>

	<script type="text/javascript" src="vendors/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="vendors/angular.js"></script>
	<script type="text/javascript" src="vendors/angular-route.min.js"></script>
	<script type="text/javascript" src="vendors/angular-animate.min.js"></script>
	<script type="text/javascript" src="vendors/angular-resource.min.js"></script>
	<script type="text/javascript" src="plugins/owl/owl.carousel.js"></script>
	<script type="text/javascript" src="app/common.js"></script>
	<script type="text/javascript" src="app/app.js"></script>
	<script type="text/javascript" src="app/services/Film.js"></script>
	<script type="text/javascript" src="app/services/User.js"></script>
	<script type="text/javascript" src="app/services/TheBox.js"></script>
	<script type="text/javascript" src="app/services/ClickAnywhereButHere.js"></script>
	<script type="text/javascript" src="app/services/Series.js"></script>
	<script type="text/javascript" src="app/services/Episode.js"></script>
	<script type="text/javascript" src="app/services/Comment.js"></script>
	<script type="text/javascript" src="app/services/Rating.js"></script>
	<script type="text/javascript" src="app/directives/enableCarousel.js"></script>
	<script type="text/javascript" src="app/directives/clickAnywhereButHere.js"></script>
	<script type="text/javascript" src="app/components/spinner.js"></script>
	<script type="text/javascript" src="app/components/adminTools.js"></script>
	<script type="text/javascript" src="app/filters/trusted.js"></script>
	<script type="text/javascript" src="app/filters/seourl.js"></script>
	<script type="text/javascript" src="app/controllers/Home.js"></script>
	<script type="text/javascript" src="app/controllers/Search.js"></script>
	<script type="text/javascript" src="app/controllers/Film.js"></script>
	<script type="text/javascript" src="app/controllers/Films.js"></script>
	<script type="text/javascript" src="app/controllers/Tabs.js"></script>
	<script type="text/javascript" src="app/controllers/AdminPanel.js"></script>
	<script type="text/javascript" src="app/controllers/AdminTools.js"></script>
	<script type="text/javascript" src="app/controllers/User.js"></script>
	<script type="text/javascript" src="app/controllers/UserDetails.js"></script>
	<script type="text/javascript" src="app/controllers/MyAccount.js"></script>
	<script type="text/javascript" src="app/controllers/Series.js"></script>
	<script type="text/javascript" src="app/controllers/OneSeries.js"></script>

</body>
</html>
